<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Roast Page</h1>
    <span><a href="/">Home</a></span>
    <button><a href="/boastsview/">Boast View</a></button>
    <div style=
    "
    width: 80%; 
    height: 80%;
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: flex-start;
    font-size: 16pt;
    ">
        <ul>
            {% for item in roastInfo %}
            <li style="border: solid black 4px; padding: 10px;">
                <p>{{ item.description }}</p>
                <p>vote_score : {{ item.vote_score }}</p>
                <div>
                    <button><a href='/like/{{item.id}}/'>like</a></button>
                    <button><a href='/dislike/{{item.id}}/'>dislike</a></button>
                </div>
                <br>
                <p>like(s): {{item.likes}}</p>
                <p>created at: {{item.date}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>